@model Models.LLTCViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function example_ajax_request() {
        $('#example-placeholder').html('<p><img src="Assets/files/ajax-loader-2.gif" width="220" height="19" /></p>');
    }
</script>

<div class="row">
    <div class="col-lg-3">
        <!-- /.panel-heading -->
        <div class="panel-body-2">
            @using (Html.BeginForm("Interop", "Project"))
            {
                <button id="interOpButton" type="submit" onclick="example_ajax_request()" style=" margin-left:0px; margin-bottom:10px" class="btn btn-primary"><b>+ XUẤT THẺ QR </b></button>
            }
            <div id="example-placeholder">
            </div>
        </div>
    </div>
    <div class="col-lg-1">
        <!-- /.panel-heading -->
        <div class="panel-body-2">
            <div id="example-placeholder">
            </div>
        </div>
    </div>
</div>

