@model Models.LLTCViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3">
        <!-- /.panel-heading -->
        <div class="panel-body-2">
            @using (Html.BeginForm("Interop", "Project"))
            {
                <button id="interOpButton" type="submit" onclick="example_ajax_request()" style=" margin-left:0px; margin-bottom:10px" class="btn btn-primary"><b>+ XUẤT THẺ QR </b></button>
            }
            <div id="example-placeholder">
            </div>
        </div>
    </div>
</div>

